# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
.env
venv/
.venv/

# Raw audio data (too large for git)
data/raw/physionet2016/
# Keep pascal placeholder
!data/raw/pascal/.gitkeep

# Model checkpoints
outputs/checkpoints/*.pt
outputs/checkpoints/*.pth
